{% extends 'base.html' %}
{% load static %}
{% comment %} {% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<a href="/logout">Logout</a> ||
<a href="/index/">GSTR</a>
{% else %}
<a href="/login/">Login</a> ||
<a href="/register/">Register</a>
{% endif %}

<h1>HOME PAGE</h1>
<!-- <main>
    <form action="" method="POST" enctype="multipart/form-data">
        
    </form>
</main> -->
{% endblock content %} {% endcomment %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block content %}
<main>
    <section class="item-1">
        <div>
            <h1>Basic GST Reconciliation and comparison tool.</h1>
            <p>Using the tool, businesses can quickly identify and rectify any mismatches, reduce the chances of errors and penalties, and ensure compliance with the GST regulations.</p>
        </div>
    </section>
    <section class="item-2">
        <div class="payment mb-10">
            <span>Try it free 7 days </span>then $20/mo. thereafter
        </div>
        <div>
            {% if messages %}
            <div class="mb-10 notification" >
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if form.errors %}
            <div class="mb-10 red-notification" >
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            </div>
            {% endif %}
            <form action="{% url 'core:login' %}" class="border-radius-10" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                {% comment %} <input class="mb-10" type="email" placeholder="Email" required>
                <input class="mb-10" type="password" placeholder="Password" required> {% endcomment %}
                <button type="submit" class="mb-10">LOGIN</button>
                <p class="terms">New user, please click on <a href="{% url 'core:register' %}" style="color:blue;">register</a></p>
                <p class="terms">By clicking the button you are agreeing to our <span>Terms and condition</span></p>
            </form>
        </div>
    </section>
</main>
    
{% endblock content %}
