{% extends 'base.html' %}
{% block content %}

<a href="/logout">Logout</a> ||
<a href="/">Home</a>


<h1>INDEX PAGE</h1>
<main>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Upload</button>
    </form><br/>
    {% if is_upload %}
    <a href="{% url 'core:reconcile' file_path_1 file_path_2 %}"><button>Reconcile</button></a>
    {% else %}
    <button>Reconcile</button>
    {% endif %}

    {% if is_file_path_ready %}
        <a href="{% url 'core:download_file' is_file_path_ready %}">Download FILE</a>
    {% endif %}
</main>
{% endblock content %}